# ==========================
# DATABASE
# ==========================
DATABASE_URL=

# ==========================
# JWT SECRETS
# ==========================
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# ==========================
# EMAIL OTP 
# ==========================
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# ==========================
# SMS OTP 
# ==========================
MC_CUSTOMER=
MC_PASSWORD=
MC_COUNTRY=
SMS_OTP_LENGTH=

# ==========================
# JWT EXPIRATION TIMES
# ==========================
ACCESS_TOKEN_EXPIRES=
REFRESH_TOKEN_EXPIRES=

# ==========================
# SERVER
# ==========================
PORT=
NODE_ENV=
