# ==========================
# DATABASE
# ==========================
DATABASE_URL=""

# ==========================
# JWT SECRETS
# ==========================
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

# ==========================
# JWT EXPIRATION TIMES
# ==========================
ACCESS_TOKEN_EXPIRES=""
REFRESH_TOKEN_EXPIRES=""

# ==========================
# SERVER
# ==========================
PORT=

